<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>
    
    <h1>Create</h1>
    <h4>Restaurant</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                
                <compose view="./createEdit.html"></compose>
                
               <!-- 
                <div class="form-group">
                    <label class="control-label" for="Name">Name</label>
                    <input class="form-control" type="text" id="Name" maxlength="64" value.bind="_name" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Location">Location</label>
                    <input class="form-control" type="text" id="Location" maxlength="64" value.bind="_location" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Telephone">Telephone</label>
                    <input class="form-control" type="text" id="Telephone" maxlength="64" value.bind="_telephone" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="OpenTime">OpenTime</label>
                    <input class="form-control" type="text" id="OpenTime" maxlength="64" value.bind="_openTime" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="OpenNotification">OpenNotification</label>
                    <input class="form-control" type="text" id="OpenNotification" maxlength="64" value.bind="_openNotification" />
                </div>
                -->

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    
    <div>
        <a route-href="route: restaurant-index; params.bind: { }">Back to List</a>
    </div>
    
</template>
