<template>
    <div class="form-group">
        <label class="control-label" for="Name">Name</label>
        <input class="form-control" type="text" id="Name" maxlength="64" value.bind="_restaurant.name" />
    </div>
    <div class="form-group">
        <label class="control-label" for="Location">Location</label>
        <input class="form-control" type="text" id="Location" maxlength="64" value.bind="_restaurant.location" />
    </div>
    <div class="form-group">
        <label class="control-label" for="Telephone">Telephone</label>
        <input class="form-control" type="text" id="Telephone" maxlength="64" value.bind="_restaurant.telephone" />
    </div>
    <div class="form-group">
        <label class="control-label" for="OpenTime">OpenTime</label>
        <input class="form-control" type="text" id="OpenTime" maxlength="64" value.bind="_restaurant.openTime" />
    </div>
    <div class="form-group">
        <label class="control-label" for="OpenNotification">OpenNotification</label>
        <input class="form-control" type="text" id="OpenNotification" maxlength="64" value.bind="_restaurant.openNotification" />
    </div>
</template>