<template>
    <dt class="col-sm-2">
        Id
    </dt>
    <dd class="col-sm-10">
        ${_restaurantFood.id}
    </dd>
    <dt class="col-sm-2">
        PizzaId
    </dt>
    <dd class="col-sm-10">
        ${_restaurantFood.pizzaId}
    </dd>
    <dt class="col-sm-2">
        Pizza
    </dt>
    <dd class="col-sm-10">
        ${_restaurantFood.pizza.Name}
    </dd>
    <dt class="col-sm-2">
        RestaurantId
    </dt>
    <dd class="col-sm-10">
        ${_restaurantFood.restaurantId}
    </dd>
    <dt class="col-sm-2">
        Restaurant
    </dt>
    <dd class="col-sm-10">
        ${_restaurantFood.restaurant.name}
    </dd>
</template>