<template>
    <div class="form-group">
        <label class="control-label" for="Name">Name</label>
        <input class="form-control" type="text" id="Name" maxlength="64" value.bind="_category.name" />
    </div>
    <div class="form-group">
        <label class="control-label" for="Location">ForMeal</label>
        <input class="form-control" type="checkbox" id="ForMeal" checked.bind="_category.forMeal" />
    </div>
    <div class="form-group">
        <label class="control-label" for="Telephone">ForPizzaTemplate</label>
        <input class="form-control" type="checkbox" id="ForPizzaTemplate" checked.bind="_category.forPizzaTemplate" />
    </div>
</template>