<form method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control" id="name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form method="post">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>