@model BLL.App.DTO.CartMeal

<div class="form-group">
    <label asp-for="CartId" class="control-label"></label>
    <select asp-for="CartId" class ="form-control" asp-items="ViewBag.CartId"></select>
</div>

<div class="form-group">
    <label asp-for="PizzaId" class="control-label"></label>
    <select asp-for="PizzaId" class ="form-control" asp-items="ViewBag.PizzaId"></select>
</div>

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PizzaGross" class="control-label"></label>
    <input asp-for="PizzaGross" class="form-control" />
    <span asp-validation-for="PizzaGross" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Changes" class="control-label"></label>
    <input asp-for="Changes" class="form-control" />
    <span asp-validation-for="Changes" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ComponentsGross" class="control-label"></label>
    <input asp-for="ComponentsGross" class="form-control" />
    <span asp-validation-for="ComponentsGross" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TotalGross" class="control-label"></label>
    <input asp-for="TotalGross" class="form-control" />
    <span asp-validation-for="TotalGross" class="text-danger"></span>
</div>
@*
<div class="form-group">
    <label asp-for="CreatedBy" class="control-label"></label>
    <input asp-for="CreatedBy" class="form-control" />
    <span asp-validation-for="CreatedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CreatedAt" class="control-label"></label>
    <input asp-for="CreatedAt" class="form-control" />
    <span asp-validation-for="CreatedAt" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChangedBy" class="control-label"></label>
    <input asp-for="ChangedBy" class="form-control" />
    <span asp-validation-for="ChangedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChangedAt" class="control-label"></label>
    <input asp-for="ChangedAt" class="form-control" />
    <span asp-validation-for="ChangedAt" class="text-danger"></span>
</div>
*@