<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Details</h1>

    <div>
        <h4>PizzaTemplate</h4>
        <hr />
        <dl class="row">

            <compose view="./detailsDelete.html"></compose>

        </dl>
    </div>
    <div>
        <a route-href="route: pizzaTemplate-edit; params.bind: { id: _pizzaTemplate.id }">Edit</a> |
        <a route-href="route: pizzaTemplate-index; params.bind: { }">Back to List</a>
    </div>
</template>
