@model Domain.Cart

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HandoverTypeId" class="control-label"></label>
                <select asp-for="HandoverTypeId" class ="form-control" asp-items="ViewBag.HandoverTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserLocationId" class="control-label"></label>
                <select asp-for="UserLocationId" class ="form-control" asp-items="ViewBag.UserLocationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantId" class="control-label"></label>
                <select asp-for="RestaurantId" class ="form-control" asp-items="ViewBag.RestaurantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadyBy" class="control-label"></label>
                <input asp-for="ReadyBy" class="form-control" />
                <span asp-validation-for="ReadyBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@RenderSection("Scripts", false)
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
