@model Domain.Item

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SharingId" class="control-label"></label>
                <input asp-for="SharingId" class="form-control" />
                <span asp-validation-for="SharingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceLineId" class="control-label"></label>
                <input asp-for="InvoiceLineId" class="form-control" />
                <span asp-validation-for="InvoiceLineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Net" class="control-label"></label>
                <input asp-for="Net" class="form-control" />
                <span asp-validation-for="Net" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax" class="control-label"></label>
                <input asp-for="Tax" class="form-control" />
                <span asp-validation-for="Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gross" class="control-label"></label>
                <input asp-for="Gross" class="form-control" />
                <span asp-validation-for="Gross" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangedBy" class="control-label"></label>
                <input asp-for="ChangedBy" class="form-control" />
                <span asp-validation-for="ChangedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangedAt" class="control-label"></label>
                <input asp-for="ChangedAt" class="form-control" />
                <span asp-validation-for="ChangedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
