<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Index OwnerAnimals</h1>

    <p>
        <a route-href="route: owneranimals-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Owner
                </th>
                <th>
                    Animal
                </th>
                <th>
                    OwnedPercentage
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="ownerAnimal of _ownerAnimals">
                <td>
                    ${ownerAnimal.owner.firstName + ' ' + ownerAnimal.owner.lastName}
                </td>
                <td>
                    ${ownerAnimal.animal.animalName}
                </td>
                <td>
                    ${ownerAnimal.ownedPercentage}
                </td>
                <td>
                    <a route-href="route: owneranimals-edit; params.bind: { id: ownerAnimal.id }">Edit</a> |
                    <a route-href="route: owneranimals-details; params.bind: { id: ownerAnimal.id }">Details</a> |
                    <a route-href="route: owneranimals-delete; params.bind: { id: ownerAnimal.id }">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</template>
