<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Index Meals</h1>
    
    <p>
        <a route-href="route: meal-create; params.bind: {}">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th class="table-column-sm">
                    ID
                </th>
                <th >
                    Category
                </th>
                <th>
                    Name
                </th>
                <th>
                    Picture
                </th>
                <th>
                    Description
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="meal of _meals">
                <td class="table-column-sm">
                    <button disabled type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="${meal.id}">
                        i
                    </button>
                </td>
                <td>
                    ${meal.category.name}
                </td>
                <td>
                    ${meal.name}
                </td>
                <td>
                    <img src=${meal.picture} alt="Meal picture" width="200" height="200">
                </td>
                <td>
                    ${meal.description}
                </td>

                <td>
                    <a route-href="route: meal-edit; params.bind: { id: meal.id }"><i class="fa fa-color-a fa-2x fa-pencil-square"></i></a>
                    <a route-href="route: meal-delete; params.bind: { id: meal.id }"><i class="fa fa-color-a fa-2x fa-trash"></i></a>
                </td>
    
            </tr>
        </tbody>
    </table>
</template>
