@model Domain.Item

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="SharingId" class="control-label"></label>
                <select asp-for="SharingId" class="form-control" asp-items="ViewBag.SharingId"></select>
                <span asp-validation-for="SharingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceLineId" class="control-label"></label>
                <select asp-for="InvoiceLineId" class="form-control" asp-items="ViewBag.InvoiceLineId"></select>
                <span asp-validation-for="InvoiceLineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gross" class="control-label"></label>
                <input asp-for="Gross" class="form-control" />
                <span asp-validation-for="Gross" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@RenderSection("Scripts", false)
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
