<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Index ComponentPizzaTemplates</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th class="table-column-sm">
                    ID
                </th>
                <th>
                    ComponentId
                </th>
                <th>
                    PizzaTemplateId
                </th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="componentPizzaTemplate of _componentPizzaTemplates">
                <td class="table-column-sm">
                    ${componentPizzaTemplate.id}
                </td>
                <td>
                    ${componentPizzaTemplate.componentId}
                </td>
                <td>
                    ${componentPizzaTemplate.pizzaTemplateId}
                </td>
    
            </tr>
        </tbody>
    </table>
</template>
