.game_state_info{
  text-align: center;
}

.title1{
  text-align: center;
  margin-bottom: 0.5ex;
  color: #ffe68d;
  font-size: 450%;
  font-family: 'IM Fell English SC', 'Georgia', serif;
}

.title2 {
  text-align: left;
  color: #ffe68d;
  margin-bottom: 0.5ex;
  
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


div.page_content {
  padding-top: 1.0ex;
  padding-bottom: 1.0ex;
  width: 98%;
  margin-left: 2%;
  height: 100%;
  font-family: 'Fondamento', 'Georgia', serif;
}

.message_container1{
  background: rgba(35, 24, 20, 0.7);
  max-width: 40ex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.0ex;
}

body{
  background-image: url(http://d1vx0kqiw28888.cloudfront.net/static_v101/img/lair_bg_colour2.jpg);
  color: #cfb76d;
}

button{
  border-color: #392614;
  background: #493624;
  color: #f2ca52;
  width: 40ex;
}

.wrapper{
  width: 40ex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table{
  margin: auto;
}

#rules{
  text-align: justify;
  padding-left: 1ex;
  padding-right: 1ex;
  padding-bottom: 0.1ex;
}





.q {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  font-size: 100px;
}
.q:hover {
  background-color: azure;
}

#container2 {
  width: 650px;
  height: 540px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #ffffff00;
}

.r0, .r1, .r2, .r3 {
  border-bottom: 5px solid black;
}

.r1, .r2, .r3, .r4 {
  border-top: 5px solid black;
}

.c1, .c2, .c3, .c4, .c5 {
  border-left: 5px solid black;
}

.c0, .c1, .c2, .c3, .c4 {
  border-right: 5px solid black;
}