<template>


    <h1>Details</h1>

    <div>
        <h4>Owner</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                FirstName
            </dt>
            <dd class="col-sm-10">
                ${_owner.firstName}
            </dd>
            <dt class="col-sm-2">
                LastName
            </dt>
            <dd class="col-sm-10">
                ${_owner.lastName}
            </dd>
            <dt class="col-sm-2">
                AnimalCount
            </dt>
            <dd class="col-sm-10">
                ${_owner.animalCount}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: owners-edit; params.bind: { id: _owner.id }">Edit</a> |
        <a route-href="route: owners-index; params.bind: { }">Back to List</a>
    </div>
</template>
