@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h3>Claims</h3>
@foreach (var claim in User.Claims)
{
    <p>@claim.Type - @claim.Value - @claim.ValueType</p>
}