<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Pizza</h4>
        <hr />
        <dl class="row">
            
            <compose view="./detailsDelete.html"></compose>
            

            
            <!-- 


            
        -->
            
            
        </dl>

        <form submit.trigger="onSubmit($event)">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a route-href="route: pizza-index; params.bind: { }">Back to List</a>
        </form>

    </div>
</template>
