<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <!--
    dropdown down arrow
    -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        -->
                        <!--
                        https://codedocu.com/Details?d=2212&a=9&f=367&l=0
                        -->
                        
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                        {
                            <div class="main_nav_dropdown">
                                <button class="main_nav_dropbtn">
                                    User
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="main_nav_dropdown-content">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Cart" asp-action="Index">Cart</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="CartMeal" asp-action="Index">CartMeal</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Item" asp-action="Index">Item</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Sharing" asp-action="Index">Sharing</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="SharingItem" asp-action="Index">SharingItem</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="UserLocation" asp-action="Index">UserLocation</a>
                                </div>
                            </div>
                            <div class="main_nav_dropdown">
                                <button class="main_nav_dropbtn">
                                    Restaurant
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="main_nav_dropdown-content">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Component" asp-action="Index">Component</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="ComponentPizzaTemplate" asp-action="Index">ComponentPizzaTemplate</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Pizza" asp-action="Index">Pizza</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="PizzaTemplate" asp-action="Index">PizzaTemplate</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Restaurant" asp-action="Index">Restaurant</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="RestaurantFood" asp-action="Index">RestaurantFood</a>
                                </div>
                            </div>
                            <div class="main_nav_dropdown">
                                <button class="main_nav_dropbtn">
                                    UserAPI
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="main_nav_dropdown-content">
                                    <a class="nav-link text-dark" href="/api/v1.0/Cart">Cart</a>
                                    <a class="nav-link text-dark" href="/api/v1.0/CartMeal">CartMeal</a>
                                    <a class="nav-link text-dark" href="/api/v1.0/Item">Item</a>
                                    <a class="nav-link text-dark" href="/api/v1.0/Sharing">Sharing</a>
                                    <a class="nav-link text-dark" href="/api/v1.0/SharingItem">SharingItem</a>
                                    <a class="nav-link text-dark" href="/api/v1.0/UserLocation">UserLocation</a>
                                </div>
                            </div>
                            <div class="main_nav_dropdown">
                                <button class="main_nav_dropbtn">
                                    RestaurantAPI
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="main_nav_dropdown-content">
                                    <a class="nav-link text-dark" href="/api/v1.0/Component">Component</a>
                                    <a class="nav-link text-dark" href="/api/v1.0/ComponentPizzaTemplate">ComponentPizzaTemplate</a>
                                    <a class="nav-link text-dark" href="/api/v1.0/Pizza">Pizza</a>
                                    <a class="nav-link text-dark" href="/api/v1.0/PizzaTemplate">PizzaTemplate</a>
                                    <a class="nav-link text-dark" href="/api/v1.0/Restaurant">Restaurant</a>
                                    <a class="nav-link text-dark" href="/api/v1.0/RestaurantFood">RestaurantFood</a>
                                </div>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
